a {
  cursor: pointer;
  text-decoration: none;
}
.header {
  height: 80px;
  text-align: center;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  /* 中央に持ってくるため */
  right: 0;
  top: 0;
  left: 0;
}
.header-ttl {
  display: none;
}
.header-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.headernavList {
  display: flex;
}
.header-navItem {
  margin-left: 40px;
}
li.header-navItem:first-child {
  margin: 0;
}
.header-navLink {
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 10px 0;
}
.header-navLink:after {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* -webkit-transform: scaleX(0); */
  /* transform: scaleX(0); */
  opacity: 0;
}
.header-navLink:hover:after {
  opacity: 1;
  bottom: 0;
}
/*メインビジュアル*/
.hero {
  background-image: url(images/mv.png);
  height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-inner {
  padding: 218px 20px 0 0;
}
.hero-content {
  margin-left: auto;
  max-width: 524px;
}
.hero-ttl {
  line-height: 1.5;
  font-size: 25px;
  font-weight: bold;
}
.hero-txt {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.45;
  margin-top: 35px;
  text-align: left;
}
.hero-link {
  display: block;
  color: #fff;
  background-color: #ffaa3b;
  border-radius: 10px;
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
  width: 280px;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}
/*ニュース*/
.news {
  max-width: 1260px;
  margin: 130px auto 0;
  padding: 0 40px;
}
.news-inner {
  padding: 56px 48px 40px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
.util-ttl {
  text-align: center;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.news-list {
  border-top: solid 2px #f0f0f0;
  margin-top: 55px;
}
.news-item {
  border-bottom: solid 2px #f0f0f0;
  font-size: 16px;
}
.news-itemDate {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}
.news-itemLink {
  padding: 38px 60px 38px 12px;
  align-items: center;
  -webkit-box-align: center;
  color: #3e3e3e;
  display: flex;
  letter-spacing: 1px;
  position: relative;
}
.news-itemLink::after {
  position: absolute;
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  top: 80px;
  right: 10px;
  /* ホバーしたら色が変わるように設定 */
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.news-itemLink:hover {
  background-color: rgba(73, 115, 255, 0.1);
}
.news-itemCategory {
  background: #fff;
  border: solid 2px #4973ff;
  border-radius: 30px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.8;
  margin-left: 60px;
  padding: 0 32px;
  white-space: nowrap;
}
.news-itemTxt {
  line-height: 1.6;
  margin-left: 60px;
  text-align: justify;
}
.util-linkBox {
  margin: 40px 16px 0;
}
.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  width: 248px;
  margin: auto;
}
.util-link:hover {
  background: #3e3e3e;
  color: #fff;
}
.service {
  margin-top: 130px;
  padding-top: 76px;
  background: #3e3e3e 0% 0% no-repeat padding-box;
}
.service .util-ttl {
  color: #fff;
  text-align: center;
}
.service-inner {
  padding: 0 40px;
  margin: 76px auto 0;
  max-width: 1040px;
}
.service-list {
  display: flex;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 12px #3e3e3e33;
  opacity: 1;
}
.service-item {
  padding: 54px 45px;
}
.service-item dt {
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3;
  padding-top: 72px;
  text-align: center;
}
.service-item:nth-child(1) dt {
  background-image: url(images/service1.svg);
}
.service-item:nth-child(2) dt {
  background-image: url(images/service1.svg);
}
.service-item:nth-child(3) dt {
  background-image: url(images/service1.svg);
}
.service-item dd {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.7;
  margin-top: 16px;
  text-align: justify;
}
/* Results */
.results {
  margin: 130px 0 0 auto;
  padding: 77px 0 80px 110px;
  background: #3e3e3e;
  /* なぜこの書き方か不明 */
  max-width: calc(50vw + 590px);
}
.results .util-ttl {
  color: #fff;
  text-align: left;
}
.results-container {
  margin-top: 77px;
}
.results-item {
  max-width: 422px;
  margin-right: 40px;
}
.results-itemLink {
  background: #fff;
  color: #3e3e3e;
  display: block;
}
.results-itemLinkInner {
  padding: 17px 20px 20px;
}
.results-itemTtl {
  font-size: 20px;
  font-weight: 600;
}
.results-itemTxt {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 18px;
  text-align: justify;
}
.results-pagination {
  margin: 52px 0 0 -5px;
  /* 初期の位置の設定 */
  position: static !important;
  /* 左側に寄せる */
  text-align: left !important;
}
.swiper-pagination-bullet {
  background: #fff !important;
  height: 12px !important;
  width: 12px !important;
  margin: 0 10px !important;
  opacity: 3 !important;
  position: relative;
}
.results .util-linkBox {
  margin: 50px 0 0 0;
  display: inline-block;
}
.results .util-link {
  max-width: 300px;
  border-color: #fff;
  color: #fff;
}
.util-link.mod-light:hover {
  background: #fff;
  color: #3e3e3e;
}
.price {
  margin: 76px auto 0;
  max-width: 1040px;
  padding: 0 40px;
}
.price-table {
  border: solid 1px #707070;
  font-size: 20px;
  margin-top: 76px;
  width: 100%;
}
.price-table th {
  background: #3e3e3e;
  color: #fff;
  text-align: center;
  width: 30%;
  border-bottom: solid 1px #fff;
}
.price-table td {
  background: #fff;
  border-bottom: solid 1px #707070;
}
.price-table th,
.price-table td {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 8px 24px;
}
.price-txt {
  font-size: 12px;
  margin-top: 16px;
}
