/* SNSシェアボタン */
.twitter {
  background-color: #00acee;
}
.btn-default {
  display: block;
  margin: 8px 0 16px;
  width: 100%;
  line-height: 46px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  text-align: center;
  background-color: #d8d8d8;
}
.btn-default:hover {
  background-color: #f6ac4d;
}
